.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  .hero-card {
    margin-left: 500px;
    margin-right: 500px;
    text-align: center;
    border: solid 3px rgba(2, 255, 65, 0.466);
    border-radius: 12px;
    background-color: rgba(240, 248, 255, 0.241);
  }
  img {
    width: 150px;
    margin: 20px;
    border-radius: 20px;
  }
  h2 {
    color: white;
    text-shadow: 2px 2px rgba(2, 255, 65, 0.466);
  }
  a {
    color: rgba(2, 255, 65, 0.466);
    text-decoration: none;
  }